

body.encBG
{
  background: linear-gradient(33deg, var(--bley-400) 0%, var(--bley-100) 100%);
  position: relative;
  overflow: hidden;
}

body.encBG::after
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("assets/bg-texture.gif");
  background-size: 360px;
  background-repeat: repeat;
  background-position: center center;
  z-index: -2;
  mix-blend-mode: darken;
  opacity: 0.04;
}

body.encBG::before /* New Pseudo Element */
{
    content: '';
    position: absolute;
    top: 35%;
    left: 0%;
    transform: translate(-50%, -50%);
    --size: 50rem;
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle at center, var(--primary) 50%, var(--secondary) 56%, transparent 66%);
    opacity: 0.06;
    border-radius: 999rem;
}

.encBG .bg-icon
{
  position: absolute;
  --size: 130vh; /* 145vh */
  width: var(--size);
  height: var(--size);
  transform: translateY(-50%);
  bottom: -90%; /* -122% */
  right: -16%;
  background: url("assets/enc-bg-icon.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
  z-index: -1;
}

        @media (max-aspect-ratio: 3/2) {
          .encBG .bg-icon
          {
            right: -18%; /* -30% */
          }
        }

                @media (max-aspect-ratio: 1/1) {
                  .encBG .bg-icon
                  {
                    right: -60%; /* -100% */
                  }
                }
                


.encBG.center .bg-icon
{
  --size: 160vh;
  transform: translate(-50%, -50%);
  bottom: -155%;
  right: calc(50% - var(--size));
}
        

/* App Content Container */

.content-wrapper
{
  width: 100%;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(16px);
  border-radius: 16px 16px 0px 0px;
  width: 100%;
  height: calc(100% - var(--size-3));
  box-shadow: 0px 0px 2px var(--bley-opaque-10),
              0px 0px 8px var(--bley-opaque-10),
              0px 0px 16px var(--bley-opaque-5);
  overflow: hidden;
}




/* Dialog BG -------------------------------- */

.dialog-bg
{
  --color-a: hsl(268deg 100% 42% / 4%); /* Color is "Primary"" */
  --color-b: hsl(180deg 100% 26% / 8%); /* Color is "Secondary" */

  --color-a: #6400d60a; /* Color is "Primary"" */
  --color-b: #00858514; /* Color is "Secondary" */

  background-color: var(--bg-light-grey);
  background-image: radial-gradient(circle at center, transparent 30%, var(--color-a) 37%, var(--color-b) 40%, transparent 55%);
  background-size: 166% 166%;
  background-position: 70% 66%;
  background-repeat: no-repeat;
}



/* Splitter Bar ---------------*/

.splitter-bar
{
  width: var(--size-1);
  height: 100%;
  background-color: var(--bley-400);
  position: relative;
  transition: 0.4s;
  cursor: col-resize;
}

.splitter-bar::after
{
  content: '⯈';
  position: absolute;
  top: 50%;
  left: var(--size-1-5);
  transform: translate(-50%, -50%);
  background-color: var(--bley-400);
  padding: var(--size-1) var(--size-0-5);
  border-radius: 0 var(--radius-sm) var(--radius-sm) 0;
  color: var(--text-disabled);
  z-index: -1;
  pointer-events: none;
}

.splitter-bar::before
{
  content: '';
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translate(-50%, -50%);
  background-color: transparent;
  width: 1px;
  height: 100%;
  transition: 0.4s;
}

.splitter-bar:hover::before
{
  background-color: var(--secondary);
}




/* Buttons -------------------------------- */


button
{
    display: inline-flex;
    gap: var(--size-0-5);
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-sm);
    background: var(--primary);
    color: var(--white);
    border: 1px solid transparent;
    padding: var(--size-1) var(--size-2);
    font-size: 0.875rem;
    min-height: 40px;
    cursor: pointer;
    z-index: 1;
}

button:hover
{
    background: var(--aqua-900);
}

button.large
{
    font-size: 1rem;
    min-height: 48px;
}

button.small
{
    min-height: 32px;
}

button.secondary
{
    border: 1px solid var(--primary);
    color: var(--primary);
    background: transparent;
}

button.secondary:hover
{
    background: var(--aqua-opaque-10);
}

button.tertiary
{
    color: var(--primary);
    background: transparent;

    & svg
    {
        fill: var(--primary);
    }
}

button.tertiary:hover
{
    background: var(--aqua-opaque-5);
}

button.circle
{
    width: 40px;
    padding: 0px; 
    border-radius: var(--radius-round);
    font-size: 24px;
}

button.circle.small
{
    width: 32px;
    padding: 0px; 
    border-radius: var(--radius-round);
}

button.circle.large
{
    width: 48px;
    padding: 0px; 
    border-radius: var(--radius-round);
}


/* Inputs -------------------------------- */


input
{
    min-height: 40px;
    padding: var(--size-0-5) var(--size-1);
    color: var(--text-primary);
    font-size: var(--body-size);

    &.small
    {
        min-height: 32px;
    }
}


/* Tooltip -------------------------------- */

.tooltip
{
    padding: var(--size-1);
    border-radius: var(--radius-md);
    color: white;
    background: var(--navy-900);
    position: relative;
    font-size: 14px;
    min-width: 250px;
    max-width: 500px;

    &:after
    {
        content: '';
        position: absolute;
        transform: translate(-50%, -50%);
        transform-origin: 0 0;
        width: 10px;
        height: 10px;
        rotate: 45deg;
        background-color: var(--navy-900);
    }
}

.tooltip.top:after
{
    bottom: calc(0% + -10px);
    left: 50%;
}


/* Chips ------------------------------------- */

.chip
{
    --accent: var(--bley-opaque-10);
    --content: var(--text-primary);
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    padding-inline: var(--size-2);
    min-height: 32px;
    border-radius: var(--radius-round);
    background: var(--accent);
    color: var(--content);
    z-index: 1;
}

.chip.small
{
    min-height: 24px;
    padding-inline: var(--size-1);
}

.chip.outline
{
    --accent: var(--bley-400);
    background: transparent !important;
    border: 1px solid var(--accent);
}

.chip.primary
{
    --accent: var(--primary);
    --content: var(--white);
}

.chip.darkGray
{
    --accent: var(--bley-opaque-60);
    --content: var(--white);
}






/* List Item ------------------------------------- */


.list-item
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: var(--size-1);
    padding: var(--size-2) var(--size-2);
    border-radius: var(--radius-md);
    z-index: 1;

    .icon
    {
        color: var(--iconFill);
        width: var(--size-2-5);
        height: var(--size-2-5);
        font-size: 22px;
        line-height: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}



/* Menu Item ------------------------------------- */

.menu-item
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--size-1);
    min-height: 40px;
    padding-inline: var(--size-2);
    cursor: pointer;

    & .dense
    {
        min-height: 32px;
    }
}



/* App Header */

.app-button
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--size-1);
  border: 1px solid transparent;
  border-radius: var(--radius-md);
  padding: var(--size-0-5) var(--size-0-5);
  cursor: pointer;

          &:hover
          {
            background-color: white;
            border-color: var(--bley-opaque-20);
          }

  & .icon
  {
    width: 44px;
    height: 44px;
  }

  & .title-wrapper
  {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 2px;
    gap: var(--size-0-5);
  }

      & .wordmark
      {
        width: var(--size-9);
      }

      & h2
      {
        line-height: 1;
      }

      & .chevron
      {
        fill: var(--bley-600);
        width: var(--size-3);
        height: var(--size-3);
        margin-inline: var(--size-1-5) var(--size-1);
      }

          &:hover .chevron
          {
            fill: var(--aqua-800);
          }
}



.app-button .icon
{
  background-image: url("../assets/enc-bg-icon-b-small.png");
  background-position: center center;
  background-size: cover;
  position: relative;
}

.app-button .icon::after, .app-button .icon::before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
}

        .app-button .icon::after
        {
          background-image: url("../assets/enc-bg-icon-a-small.png");
        }

        .app-button .icon::before
        {
          background-image: url("../assets/enc-bg-icon-c-small.png");
        }

.app-header.active .app-button .icon,
.app-header.active .app-button .icon::before,
.app-header.active .app-button .icon::after
{
  animation-name: logo-spin;
}

.app-button .icon, .app-button .icon:after, .app-button .icon:before
{
  animation-timing-function: cubic-bezier(.46,.27,.27,.99); 
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

        .app-button .icon
        {
          animation-duration: 6s;
        }

        .app-button .icon::after
        {
          animation-duration: 6s;
          animation-delay: 1s;
        }

        .app-button .icon::before
        {
          animation-fill-mode: backwards;
          animation-duration: 6s;
          animation-delay: 2s;
        }



@keyframes logo-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}




/* App Button ------------------------------------- */


.button-app-list
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: var(--size-2);
    border-radius: var(--radius-md);
    padding: var(--size-1) var(--size-2);
    border-width: 1px;
    border-style: solid;
    cursor: pointer;

    & .icon
    {
        width: var(--size-7);
        height: var(--size-7);
    }
}



/* Grid Styles -------------------------- */

  .grid-wrapper
  {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid var(--bley-opaque-30);
    min-height: 100%;
    border-radius: var(--radius-md) var(--radius-md) 0 0;
  }

  .grid-header
  {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: var(--bley-opaque-5);
    
  }

  .grid-toolbar
  {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: var(--size-1);

    & .left, .right
    {
      display: flex;
      flex-direction: row;
      gap: var(--size-1);
      justify-content: center;
      align-items: center;
      width: 50%;
    }

    & .left
    {
      justify-content: flex-start;
    }

    & .right
    {
      justify-content: flex-end;
    }
  }

  .grid-header-columns
  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .header-column
  {
    width: 100%;
    padding: var(--size-1);

    &:hover
    {
      background: var(--bley-opaque-5);
    }
  }

  .grid-cells
  {
    min-height: 100%;
    flex-grow: 1;
    background: white;
    padding: 2vw;
  }



/* App Header ------------------------- */



  .header-wrapper
  {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--size-2);
    padding: var(--size-1) var(--size-3) var(--size-1) var(--size-1);
    border-bottom: 1px solid var(--bley-opaque-10);

    & > div
    {
      flex-grow: 1;
    }

    .app-header
    {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: var(--size-4);
      width: 100%;
      position: relative;
      transition: 0.4s;
    }

    & .menu-wrapper
    {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: var(--size-1);
    }

    & button.tertiary:not(.active)
    {
      color: var(--text-secondary);
    }

    & button.tertiary:hover
    {
      background: var(--aqua-light-opaque-5);
    }

    & button.active
    {
      background: var(--aqua-light-opaque-10);
    }

    .header-right
    {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }




  .dropdown-wrapper
  {
    position: absolute;
    left: 0;
    top: var(--size-8);
    background: white;
    overflow: hidden;
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-xlg);
    display: flex;
    flex-direction: row;
    min-height: 35rem;
    max-height: 46rem;
    max-width: calc(100vw - 72px);
    opacity: 0;
    margin-top: var(--size-3);
    margin-left: var(--size-3);
    z-index: 999;
    pointer-events: none;
    
    & .app-list, & .options
    {
      padding: var(--size-5);
    }

    & .app-list
    {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: var(--size-1);
      flex-grow: 1;
      min-width: 28rem;
      overflow-y: auto;
    }

    & .options
    {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: var(--size-2);
      background-size: 266% 266%;
      background-position: 30% 45%;
    }

  }

  @media screen and (max-width: 1000px) {

    .dropdown-wrapper
    {
      width: 100vw;
    }

    .options .email
    {
      word-break: break-word;
      overflow-wrap: break-word;
    }
    
  }

  .dropdown-wrapper .user-wrapper
  {
    display: flex;
    flex-direction: row;
    gap: var(--size-1);

    & .avatar
    {
      border-radius: 999rem;
      background: var(--secondary);
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      font-size: 20px;
      flex-shrink: 0;
    }

    & .email
    {
      color: var(--text-disabled);
    }

        &:hover .email
        {
          color: var(--text-secondary);
        }
  }


  .app-header.active
  {
  
    & .app-button .chevron
    {
      fill: var(--primary);
      transform: rotate(-180deg);
    }

    .dropdown-wrapper
    {
      opacity: 1;
      margin: 0;
      pointer-events: all;
    }
    .content
    {
      padding: var(--size-6) var(--size-2);
    }

  }



  .app-button .icon
  {
    background-image: url("../assets/enc-bg-icon-b-small.png");
    background-position: center center;
    background-size: cover;
    position: relative;
  }

  .app-button .icon::after, .app-button .icon::before
  {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
  }

          .app-button .icon::after
          {
            background-image: url("../assets/enc-bg-icon-a-small.png");
          }

          .app-button .icon::before
          {
            background-image: url("../assets/enc-bg-icon-c-small.png");
          }

  .app-header.active .app-button .icon,
  .app-header.active .app-button .icon::before,
  .app-header.active .app-button .icon::after
  {
    animation-name: logo-spin;
  }

  .app-button .icon, .app-button .icon:after, .app-button .icon:before
  {
    animation-timing-function: cubic-bezier(.46,.27,.27,.99); 
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
  }

          .app-button .icon
          {
            animation-duration: 3s;
          }

          .app-button .icon::after
          {
            animation-duration: 3s;
            animation-delay: 0.5s;
          }

          .app-button .icon::before
          {
            animation-fill-mode: backwards;
            animation-duration: 3s;
            animation-delay: 1s;
          }



  @keyframes logo-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
