
body.encBG
{
  background: linear-gradient(33deg, var(--bley-400) 0%, var(--bley-100) 100%);
  position: relative;
  overflow: hidden;
}

body.encBG::after
{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("assets/bg-texture.gif");
  background-size: 360px;
  background-repeat: repeat;
  background-position: center center;
  z-index: -2;
  mix-blend-mode: soft-light;
  opacity: 0.5;
}

.encBG .bg-icon
{
  position: absolute;
  --size: 145vh;
  width: var(--size);
  height: var(--size);
  transform: translateY(-50%);
  bottom: -122%;
  right: -16%;
  background: url("assets/enc-bg-icon.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
  z-index: -1;
}

        @media (max-aspect-ratio: 3/2) {
          .encBG .bg-icon
          {
            right: -30%;
          }
        }

                @media (max-aspect-ratio: 1/1) {
                  .encBG .bg-icon
                  {
                    right: -100%;
                  }
                }
                


.encBG.center .bg-icon
{
  --size: 160vh;
  transform: translate(-50%, -50%);
  bottom: -155%;
  right: calc(50% - var(--size));
}
                


/* Buttons -------------------------------- */


button
{
    border-radius: var(--radius-md);
    background: var(--primary);
    color: var(--white);
    border: 1px solid transparent;
    padding: var(--size-1) var(--size-2);
    font-size: 14px;
    min-height: 40px;
    cursor: pointer;
}

button:hover
{
    background: var(--aqua-900);
}

button.large
{
    font-size: 1rem;
    min-height: 48px;
}

button.small
{
    min-height: 32px;
}

button.secondary
{
    border: 1px solid var(--primary);
    color: var(--primary);
    background: transparent;
}

button.secondary:hover
{
    background: var(--aqua-opaque-10);
}

button.tertiary
{
    color: var(--primary);
    background: transparent;
}

button.tertiary:hover
{
    background: var(--aqua-opaque-10);
}

button.circle
{
    width: 40px;
    padding: 0px; 
    border-radius: var(--radius-round);
    font-size: 24px;
}

button.circle.small
{
    width: 32px;
    padding: 0px; 
    border-radius: var(--radius-round);
}

button.circle.large
{
    width: 48px;
    padding: 0px; 
    border-radius: var(--radius-round);
}



/* Chips ------------------------------------- */

.chip
{
    --accent: var(--bley-opaque-10);
    --content: var(--text-primary);
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding-inline: var(--size-2);
    min-height: 32px;
    border-radius: var(--radius-round);
    background: var(--accent);
    color: var(--content);
}

.chip.small
{
    min-height: 24px;
    padding-inline: var(--size-1);
}

.chip.outline
{
    --accent: var(--bley-400);
    background: transparent !important;
    border: 1px solid var(--accent);
}

.chip.primary
{
    --accent: var(--primary);
    --content: var(--white);
}

.chip.darkGray
{
    --accent: var(--bley-opaque-60);
    --content: var(--white);
}






/* List Item ------------------------------------- */


.list-item
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: var(--size-1);
    padding: var(--size-2) var(--size-2);
    border-radius: var(--radius-md);

    .icon
    {
        color: var(--iconFill);
        width: var(--size-2-5);
        height: var(--size-2-5);
        font-size: 22px;
        line-height: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
