@import url('Avenir');

@import url('https://fonts.cdnfonts.com/css/avenir');



/* Typography -------------------------------- */

*
{
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    transition: var(--transition);
    box-sizing: border-box;
}

@media screen and (max-width: 1537px){

  :root
  { 
    font-size: 15px;
  }

}

@media screen and (max-width: 1281px){

  :root
  { 
    font-size: 14px;
  }

}


html, body, input, textarea
{
    font-family: 'Avenir', sans-serif;
    color: var(--text-primary);
    text-align: left;
}

body, p, .content
{
  font-size: var(--size-2);
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  color: var(--text-secondary);
}

a
{
  color: var(--primary);
  text-decoration: none;
  outline-color: var(--primary);
}

a:hover
{
  text-decoration: underline;
}

hr
{
  border-color: var(--bley-opaque-10);
}

h1, h2, h3, h4, h5, h6
{
    line-height: 1.4;
    font-weight: 400;
    text-transform: capitalize;
    color: var(--text-primary);
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.content p
  {
    margin-block-end: 1.4ch;
  }

  .content p
  {
    margin-block-end: 1.2ch;
  }


h1, .title-1 { font-size: var(--title-1); }

h2, .title-2 { font-size: var(--title-2); }

h3, .title-3 { font-size: var(--title-3); }

h4, .title-4 { font-size: var(--title-4); }

h5, .title-5 { font-size: var(--title-5); }

h6, .title-6 { font-size: var(--title-6); }

.subtitle-1 { font-size: var(--size-2); }
.subtitle-2 { font-size: var(--size-2); }

p, p.body-1 { font-size: var(--size-2); }
p.body-2 { font-size: 0.875rem; }

.text-primary
{
    color: var(--text-primary);
}


/* General Layout Styles -------------------------------- */

.app-content-wrapper
{
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(16px);
  border-radius: 16px 16px 0px 0px;
  width: 100%;
  height: 100%;
  padding: 5%;
  box-shadow: 0px 0px 2px var(--bley-opaque-10),
              0px 0px 8px var(--bley-opaque-10),
              0px 0px 16px var(--bley-opaque-5);
}



/* EncompaaS Standard Styles -------------------------------- */

 
.themeItem
{
  display: flex;  
  justify-content: flex-start;
  align-items: center;
  gap: var(--size-1);
  padding: var(--size-2) var(--size-3);
  border-radius: var(--radius-sm);
  cursor: pointer;
  min-width: 48%;
  position: relative;
  border: 1px solid transparent;
  outline: 1px solid transparent;
  outline-offset: -2px;

  .icon
  {
    font-size: 1.25rem;
  }

  &::before
  {
    content: '';
    position: absolute;
    top: 0;
    left: -6px;
    width: 3px;
    height: 100%;
    border-radius: var(--radius-round);
    background: transparent;
  }
}


.themeItem.disabled, .themeItem.disabled:hover
{
  background: var(--bley-opaque-10);
  color: var(--text-disabled);
  border: 1px solid transparent !important;
  --accent: var(--text-disabled) !important;
}


/* Selection States -------------------------------- */

.themeItem.selected
{
  background: var(--aqua-light-opaque-10);
  &:hover
  {
    background: var(--aqua-light-opaque-10);
  }
} 

.themeItem.primary-selected, .themeItem.primary-selected:hover
{
  background: var(--aqua-light-opaque-10);
  border-color: transparent;
}

        .themeItem.primary-selected::before
        {
          left: 0px;
          background: var(--primary);
        }


.themeItem.secondary-selected, .themeItem.secondary-selected:hover
{
  background: var(--bley-opaque-5);
  border: 1px solid var(--bley-opaque-10) !important;
  &:hover
  {
    border-color: var(--bley-opaque-30) !important;
  }
}



/* Focus States -------------------------------- */

.themeItem:focus-visible, .themeItem.focus
{
  outline: 1px solid var(--primary);
  outline-offset: -1px;
}



/* Themes -------------------------------- */

.encTheme-white
{
  background: white;
  color: var(--text-primary);

  &:hover, &.hover 
  {
    background: var(--bley-opaque-5);
  }
}

.encTheme-white-accent
{
  --accent: var(--primary);
  background: white;

  &:hover, &.hover 
  {
    background: var(--bley-opaque-5);
  }
  .icon
  {
    color: var(--accent);
  }
}

.encTheme-outline
{
  border-color: var(--bley-opaque-10);

  &:hover, &.hover
  {
    border-color: var(--bley-opaque-30);
  }
  &.item.selected, &.item.primary-select, &.item.secondary-select
  {
    border-color: transparent;
  }
}

.encTheme-outline-accent
{
  --accent: var(--primary);
  border-color: var(--bley-opaque-10);

  &:hover, &.hover
  {
    border-color: var(--bley-opaque-30);
  }
  &.item.selected, &.item.primary-select, &.item.secondary-select
  {
    border-color: transparent;
  }
  .icon
  {
    color: var(--accent);
  }
}

.encTheme-clear
{
  background: transparent;

  &:hover, &.hover
  {
    background: var(--bley-opaque-5);
  }
}

.encTheme-clear-accent
{
  --accent: var(--primary);
  background: transparent;

  &:hover, &.hover
  {
    background: var(--bley-opaque-5);
  }
  .icon
  {
    color: var(--accent);
  }
}




.default-bg
{
  --color-a: hsl(268deg 100% 42% / 4%); /* Color is "Primary"" */
  --color-b: hsl(180deg 100% 26% / 8%); /* Color is "Secondary" */

  --color-a: #6400d60a; /* Color is "Primary"" */
  --color-b: #00858514; /* Color is "Secondary" */

  background-color: var(--bg-light-grey);
  background-image: radial-gradient(circle at center, transparent 30%, var(--color-a) 37%, var(--color-b) 40%, transparent 55%);
  background-size: 166% 166%;
  background-position: 10% 55%;
  background-repeat: no-repeat;
}

.custom-bg
{
  --color-a: hsl(268deg 100% 42% / 4%); /* Color is "Primary"" */
  --color-b: hsl(180deg 100% 26% / 8%); /* Color is "Secondary" */

  --color-a: #6400d60a; /* Color is "Primary"" */
  --color-b: #00858514; /* Color is "Secondary" */

  background-color: var(--bg-light-grey);
  background-image: radial-gradient(circle at center, transparent 30%, var(--color-a) 37%, var(--color-b) 40%, transparent 55%);
  background-size: 166% 166%;
  background-position: 70% 66%;
  background-repeat: no-repeat;
}




/* Inputs -------------------------------- */